#box{
	border:  green solid 1px;
	width : 250px;
	margin : 100px auto;
	text-align: center;
	font :bold 40px Comic Sans MS;
	border-radius: 10px;
	
	trasition:width 2s , transform 2s;
	/*控制速度 第二個秒速則是delay幾秒後再做另一個動作*/
	}
#box:hover{
	transform:translate(0px,50px) rotate(30deg);
}