body{
	font:normal 120% Tahoma,verdana,Arial;
	background: #ccc;
}

#skin{
	background: #fff;
	border:1px solid #ddd;
	padding: 10px;
	width: 300px;
}

div{
	margin: 8px 0px;
}


input{
	border-radius: 3px;
}

input [type="text"]{
	font: bold 1px courier;
}