body{
	font:normal 120% Tahoma,verdana,Arial;
	background: #ccc;
}

form{
	background: #fff;
	border:1px solid #ddd;
	padding: 10px;
	width: 170px;
}

div{
	margin: 8px 0px;
}


input{
	border-radius: 3px;
}