.myClass{		
	font:bold 50px Comic Sans MS;
	color:maroon;
	position:absolute;
	top:100px;
	left:100px;
	}

.myClass2{		
	font:bold 50px Comic Sans MS;
	color:pink;
	position:absolute;
	top:105px;
	left:105px;
	}